@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

body {
    font-family: 'Mooli', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 1px solid white;
    box-shadow: 0 4px 8px black;
}


header {
    background-color: rgb(82, 71, 157);
    color: white;
}

header h1 {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 3rem;
}

header nav {
    display: block;
}

header nav a {
    color: white;
    font-size: large;
    display: block;
    margin-bottom: 10px;
}

header nav a:last-child {
    padding-bottom: 30px;
}

header button {
    all: unset;
    font-size: 1.5rem;
    padding-bottom: 6px;
}

main h2 {
    margin: 30px;
}

main img {
    margin-bottom: 20px;
}


footer {
    background-color: rgb(82, 71, 157);
    color: white;
    text-align: left;
    padding-left: 10%;
}

footer p {
    margin: 0;
    padding: 20px;
}

.hide {
    display: none;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 1rem;
    position: relative;
}

dialog img {
    margin: 0 auto;
    margin-top: 80px;
    width: 380px;
    height: auto;
    display: block;
    z-index: 3;
}

.close-viewer {
    position: absolute;
    top: 1.5rem;  
    right: 1.5rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

body.modal-open {
    overflow: hidden;
    height: 100vh;
}


@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav {
        display: flex;
        justify-content: center;
        gap: 8%;
    }

    .nav a {
        display: inline-block;
        margin-bottom: 0;
    }

    dialog img {
        width: 500px;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-button {
        display: none;
    }

    dialog img {
        width: 700px;
    }
}